<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='./styles/menu.css'>
    <title>Quiz App</title>
    
</head>
<body>
    <div class="container">
        <!-- LeaderBoard Button -->
        <a href="./index.php?page=leaderboard" class="leaderboard-btn">LeaderBoard</a>
        <!-- Content Section with Rounds -->
        <div class="content">
            <!-- Round 1 -->
            <div class="round">
                <button class="round-btn">Kolo 1</button>
                <div class="round-buttons">
                    <a href="./index.php?page=questions&id=1">Otázky</a>
                    <a href="./index.php?page=answers&id=1">Odpovědi</a>
                </div>
            </div>
            
            <!-- Round 2 -->
            <div class="round">
                <button class="round-btn">Kolo 2</button>
                <div class="round-buttons">
                    <a href="./index.php?page=questions&id=2">Otázky</a>
                    <a href="./index.php?page=answers&id=2">Odpovědi</a>
                </div>
            </div>

            <!-- Round 3 -->
            <div class="round">
                <button class="round-btn">Kolo 3</button>
                <div class="round-buttons">
                    <a href="./index.php?page=questions&id=3">Otázky</a>
                    <a href="./index.php?page=answers&id=3">Odpovědi</a>
                </div>
            </div>

            <!-- Round 4 -->
            <div class="round">
                <button class="round-btn">Kolo 4</button>
                <div class="round-buttons">
                    <a href="./index.php?page=questions&id=4">Otázky</a>
                    <a href="./index.php?page=answers&id=4">Odpovědi</a>
                </div>
            </div>

            <!-- Round 5 -->
            <div class="round">
                <button class="round-btn">Kolo 5</button>
                <div class="round-buttons">
                    <a href="./index.php?page=questions&id=5">Otázky</a>
                    <a href="./index.php?page=answers&id=5">Odpovědi</a>
                </div>
            </div>

            <!-- Round 6 -->
            <div class="round">
                <button class="round-btn">Kolo 6</button>
                <div class="round-buttons">
                    <a href="./index.php?page=questions&id=6">Otázky</a>
                    <a href="./index.php?page=answers&id=6">Odpovědi</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
